<h2 class="text-center">Detalhes do Veiculo</h2>
<div class="form-container">
    <form id="form-adicionar-estoque">
        <div class="form-group">
            <label for="model">Modelo:</label>
            <input type="text" id="model" value="Fusca" required>
        </div>
        <div class="form-group">
            <label for="bodyType">Carroceria:</label>
            <input type="text" id="bodyType" value="Hatch" required>
        </div>
        <div class="form-group">
            <label for="power">Potência:</label>
            <input type="number" id="power" value="2.0" required>
        </div>
        <div class="form-group">
            <label for="turbo">Turbo:</label>
            <input type="text" id="turbo" value="Sim" required>
        </div>
        <div class="form-group">
            <label for="year">Ano:</label>
            <input type="number" id="year" value="1970" required>
        </div>
        <div class="form-group">
            <label for="color">Cor:</label>
            <input type="text" id="color" value="Azul" required>
        </div>
        <div class="form-group">
            <label for="plate">Placa:</label>
            <input type="text" id="plate" value="ABC-1234" required>
        </div>
        <div class="form-group">
            <label for="brand">Marca:</label>
            <input type="text" id="brand" value="Volkswagen" required>
        </div>
        <div class="form-group">
            <label for="price">Valor:</label>
            <input type="text" id="price" value="R$ 20.000" required>
        </div>
        <div class="form-group">
            <label for="description">Descrição:</label>
            <input type="text" id="price" value="" required>
        </div>
        <button type="button" class="btn btn-primary btn-sm">Voltar</button>
    </form>
</div>
